.idea
.ipynb_checkpoints
*.iml
*.ipr
*.iws
*.pyc
out./algotrader/chart/__init__.pyc
./algotrader/chart/plotter.pyc
./algotrader/strategy/strategy.pyc
./algotrader/strategy/strategy_mgr.pyc
./algotrader/strategy/__init__.pyc
./algotrader/strategy/down_2pct_strategy.pyc
./algotrader/tools/singleton.pyc
./algotrader/tools/__init__.pyc
./algotrader/event/event_bus.pyc
./algotrader/event/order.pyc
./algotrader/event/execution.pyc
./algotrader/event/__init__.pyc
./algotrader/event/event.pyc
./algotrader/event/market_data.pyc
./algotrader/__init__.pyc
./algotrader/performance/returns.pyc
./algotrader/performance/__init__.pyc
./algotrader/performance/drawdown.pyc
./algotrader/utils/singleton.pyc
./algotrader/utils/__init__.pyc
./algotrader/utils/clock.pyc
./algotrader/utils/time_series.pyc
./algotrader/utils/msgpack_numpy.pyc
./algotrader/utils/ser_deser.pyc
./algotrader/provider/provider.pyc
./algotrader/provider/broker/ib/ib_socket.pyc
./algotrader/provider/broker/ib/ib_broker.pyc
./algotrader/provider/broker/ib/__init__.pyc
./algotrader/provider/broker/ib/ib_model_factory.pyc
./algotrader/provider/broker/__init__.pyc
./algotrader/provider/broker/sim/order_handler.pyc
./algotrader/provider/broker/sim/sim_config.pyc
./algotrader/provider/broker/sim/slippage.pyc
./algotrader/provider/broker/sim/fill_strategy.pyc
./algotrader/provider/broker/sim/__init__.pyc
./algotrader/provider/broker/sim/data_processor.pyc
./algotrader/provider/broker/sim/commission.pyc
./algotrader/provider/broker/sim/simulator.pyc
./algotrader/provider/__init__.pyc
./algotrader/provider/feed/__init__.pyc
./algotrader/provider/feed/csv.pyc
./algotrader/provider/broker.pyc
./algotrader/trading/event_bus.pyc
./algotrader/trading/ref_data.pyc
./algotrader/trading/portfolio.pyc
./algotrader/trading/__init__.pyc
./algotrader/trading/instrument_data.pyc
./algotrader/trading/order_mgr.pyc
./algotrader/technical/rsi.pyc
./algotrader/technical/talib_wrapper.pyc
./algotrader/technical/stats.pyc
./algotrader/technical/__init__.pyc
./algotrader/technical/ma.pyc
./algotrader/technical/atr.pyc
./algotrader/technical/roc.pyc
./algotrader/technical/bb.pyc
./tests/test_market_data_processor.pyc
./tests/test_instrument_data.pyc
./tests/test_broker_mgr.pyc
./tests/test_portfolio.pyc
./tests/test_talib_wrapper.pyc
./tests/test_indicator.pyc
./tests/test_clock.pyc
./tests/test_broker.pyc
./tests/test_order.pyc
./tests/test_data_series.pyc
./tests/test_time_series.pyc
./tests/test_ser_deser.pyc
./tests/test_position.pyc
./tests/test_ma.pyc
./tests/test_order_handler.pyc
