rx==1.2.6
gevent
msgpack-python

pandas>=0.18.1
numpy>=1.11.1
scipy>=0.18.0
scikit-learn==0.17.1

swigibpy

cassandra-driver
cassandra-driver-dse
influxdb
qpython
pymongo

pykalman
ta-lib
jinja2
pyfolio

nose
nose_parameterized